In [2]:
#Basics of data analysis with pandas 
import pandas as pd 
df=pd.read_csv('adult.data.csv')

In [4]:
race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [6]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()
print(f"\nThe average age of men is {average_age_men:.0f}")

The average age of men is 39

In [7]:
total = df['education'].count()
bachelors_count = df[df['education'] == 'Bachelors']['education'].count()
bachelors_percentage = (bachelors_count / total) * 100
print(f"\nThe percentage of people who have a Bachelor's degree is { bachelors_percentage:.2f}%")

The percentage of people who have a Bachelor's degree is 16.45%

In [8]:
gher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]['education']
higher_education = gher_education.count()

In [9]:
higher_education_rich = df[
    (df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & 
    (df['salary'] == '>50K')
].shape[0]

In [10]:
perc_adv = (higher_education_rich / higher_education) * 100
print(f"\nPercentage of people with advanced education who make more than 50K: {perc_adv:.2f}%")

Percentage of people with advanced education who make more than 50K: 46.54%

In [11]:
low_edu = total - higher_education
low_sal = df[df['salary'] == '>50K'].shape[0] - higher_education_rich
perc_low = (low_sal / low_edu) * 100
print(f"\nPercentage of people with lower education earning more than 50K: { perc_low:.2f}%")

Percentage of people with lower education earning more than 50K: 17.37%

In [12]:
minimum_hours_per_week = df['hours-per-week'].min()
print(f"\nThe minimum number of hours a person works per week is {minimum_hours_per_week}")

The minimum number of hours a person works per week is 1

In [13]:
total_peop_min_hr = df[df['hours-per-week'] == minimum_hours_per_week]['hours-per-week'].count()
high_Sal = df[(df['salary'] == '>50K') & (df['hours-per-week'] == minimum_hours_per_week)].shape[0]
percentage = (high_Sal / total_peop_min_hr) * 100
print(f"\nThe percentage of people working minimum hours but earning >50K is {percentage:.2f}%")

The percentage of people working minimum hours but earning >50K is 10.00%

In [14]:
numb_country = df['native-country'].nunique()

total_count = df.groupby('native-country')['salary'].count()
greater_50k_count = df[df['salary'] == '>50K'].groupby('native-country')['salary'].count()

# Combine the results into a DataFrame
country_stats = pd.DataFrame({
    'total': total_count,
    '>50K': greater_50k_count
})

In [15]:
country_stats['percentage'] = (country_stats['>50K'] / country_stats['total']) * 100
print(country_stats)

                            total    >50K  percentage
native-country
?                             583   146.0   25.042882
Cambodia                       19     7.0   36.842105
Canada                        121    39.0   32.231405
China                          75    20.0   26.666667
Columbia                       59     2.0    3.389831
Cuba                           95    25.0   26.315789
Dominican-Republic             70     2.0    2.857143
Ecuador                        28     4.0   14.285714
El-Salvador                   106     9.0    8.490566
England                        90    30.0   33.333333
France                         29    12.0   41.379310
Germany                       137    44.0   32.116788
Greece                         29     8.0   27.586207
Guatemala                      64     3.0    4.687500
Haiti                          44     4.0    9.090909
Holand-Netherlands              1     NaN         NaN
Honduras                       13     1.0    7.692308
Hong                           20     6.0   30.000000
Hungary                        13     3.0   23.076923
India                         100    40.0   40.000000
Iran                           43    18.0   41.860465
Ireland                        24     5.0   20.833333
Italy                          73    25.0   34.246575
Jamaica                        81    10.0   12.345679
Japan                          62    24.0   38.709677
Laos                           18     2.0   11.111111
Mexico                        643    33.0    5.132193
Nicaragua                      34     2.0    5.882353
Outlying-US(Guam-USVI-etc)     14     NaN         NaN
Peru                           31     2.0    6.451613
Philippines                   198    61.0   30.808081
Poland                         60    12.0   20.000000
Portugal                       37     4.0   10.810811
Puerto-Rico                   114    12.0   10.526316
Scotland                       12     3.0   25.000000
South                          80    16.0   20.000000
Taiwan                         51    20.0   39.215686
Thailand                       18     3.0   16.666667
Trinadad&Tobago                19     2.0   10.526316
United-States               29170  7171.0   24.583476
Vietnam                        67     5.0    7.462687
Yugoslavia                     16     6.0   37.500000

In [16]:
highest_percentage_country = country_stats['percentage'].idxmax()
highest_percentage = country_stats['percentage'].max()
print(f"\nThe country with the highest percentage of people earning >50K is {highest_percentage_country} with {highest_percentage:.2f}%.")

The country with the highest percentage of people earning >50K is Iran with 41.86%.

In [17]:
india_high_earners = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
most_popular_occupation = india_high_earners['occupation'].mode()[0]
print(f"\nThe most popular occupation for those who earn >50K in India is {most_popular_occupation}.")

The most popular occupation for those who earn >50K in India is Prof-specialty.